* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--text-clr);
}

body{
    background-color: var(--global-background-clr);
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    display: flex;
}
    
a{
    text-decoration: none;
}

button{
    border: none;
}

.grey{
    color: var(--grey-text-clr);
}

.bold{
    font-weight: bold;
}

.small {
    font-size: 0.8rem;
}

.smaller{
    font-size: 0.6rem;
}

#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 20vw;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 2px solid var(--border-clr);
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

#sidebar li{
    list-style: none;
    border-radius: 8px;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 550;
}

#sidebar h2{
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.5rem;
    padding: 0.5rem;
    font-weight: 700;
}

#sidebar li:hover{
    background-color: var(--hover-clr);
}

#sidebar a{
    flex-grow: 1;
}

svg {
    flex-shrink: 0;
    fill: var(--text-clr);
}

#sidebar .active a{
    color: var(--active-clr);
}

#sidebar .active svg{
    fill: var(--active-clr);
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    border-radius: 15px;
    border: 2px solid var(--border-clr);
    background-color: var(--container-background-clr);
    padding: 1.5rem;
    flex: 1;
}

.info-with-button{
    display: flex;
    align-items: center;
}

.info-with-button > button {
    display: flex;
    align-items: center;
    background-color: var(--button-purple-clr);
    margin: 2rem;
    padding: 0.5rem 0.7rem 0.5rem 0.4rem;
    border-radius: 0.5rem;
    gap: 0.3rem;

    svg{
        fill: var(--hover-clr);
    }
    p{
        font-weight: bold;
        color: var(--hover-clr);
    }
}

.info {
    margin: 1rem;
    margin-bottom: 0;
    padding: 1rem;
    flex: 1 1 auto;
    /* border: 1px solid red; */
}

.section{
    display: flex;
    justify-content: space-around;
    margin: 1rem 2rem;
    gap: 2rem;
}

.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    top: 0;
    left: 0;

    opacity: 0;
    pointer-events: none;
}

.popup-container.show{
    opacity: 1;
    pointer-events: auto;
}

.popup {
    display: flex;
    flex-direction: column;
    min-width: 28rem;
    max-width: 100vw;
    min-height: 15rem;
    max-height: 100vh;
    background-color: var(--global-background-clr);
    padding: 1.5rem;
    border-radius: 1.5rem;
}

input{
    font-size: small;
    border-radius: 0.4rem;
    padding: 0.4rem;
    background-color: var(--global-background-clr);
    border: 2px solid rgba(0,0,0,0.2);
}

textarea{
    font-family: inherit;
    font-size: small;
    border-radius: 0.4rem;
    padding: 0.4rem;
    background-color: var(--global-background-clr);
    border: 2px solid rgba(0,0,0,0.2);
}

.cancel-or-proceed {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
    margin: 0.75rem 0;
}

.cancel {
    padding: 0.5rem 0.75rem;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    background-color: var(--global-background-clr);
    font-weight: bold;
}

.proceed {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: var(--global-background-clr);
    background-color: var(--button-purple-clr);
}