:root{
    --global-background-clr: #E2E4E5;
    --border-clr: #b8bbd4;
    --container-background-clr: #EBEBEB;
    --sidebar-hover-clr: #d2d7e9;
    --text-clr: rgb(42, 39, 39);
    --active-clr: #4c31ac;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--text-clr);
}

body{
    background-color: var(--global-background-clr);
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    display: flex;
}
    
a{
    text-decoration: none;
}

#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 20vw;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 2px solid var(--border-clr);
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

#sidebar li{
    list-style: none;
    border-radius: 8px;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 550;
}

#sidebar h2{
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.5rem;
    padding: 0.5rem;
    font-weight: 700;
}

#sidebar li:hover{
    background-color: var(--sidebar-hover-clr);
}

#sidebar a{
    flex-grow: 1;
}

#sidebar svg {
    flex-shrink: 0;
    fill: var(--text-clr);
}

#sidebar .active a{
    color: var(--active-clr);
}

#sidebar .active svg{
    fill: var(--active-clr);
}

.container {
    border-radius: 20px;
    border: 2px solid var(--border-clr);
    background-color: var(--container-background-clr);
    margin: 2rem;
    padding: 2rem;
}

