* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #E2E4E5;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    display: flex;
}
    
a{
   text-decoration: none;
    color: rgb(42, 39, 39);
}

#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 20vw;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 2px solid #b8bbd4;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

#sidebar li{
    list-style: none;
    border-radius: 8px;
    padding: 0.5rem;
    margin: 0.5rem;
}

#sidebar h2{
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.5rem;
    padding: 0.5rem;
}

#sidebar li:hover{
    background-color: #d2d7e9;
}

.container {
    border-radius: 20px;
    border: 2px solid #b8bbd4;
    background-color: #EBEBEB;
    margin: 2rem;
    padding: 2rem;
}